:root {
    --color-vio-999: #280036;
    --color-vio-700: #4A0A60;
    --color-vio-600: #5A1771;
    --color-vio-500: #A86EBC;
    --color-vio-300: #CEA9DB;
    --color-vio-000: #FAEFFE;
    --color-wb-000: #FFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'SUIT', sans-serif;
    font-size: 1rem;
    font-style: normal;

    color: var(--color-vio-900, #280036);

}


body {
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: url(./img/shareduck_landing_background_up.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -99;
}

body::after {
    content: url(./img/shareduck_landing_background_down.png);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -99;
}

header,
main,
footer,
section {
    width: 100%;
    max-width: 1378px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

header.header {
    padding: 26px 0;
}

section {
    margin-top: 40px;
    margin-bottom: 100px;
}

a:hover {
    color: var(--color-wb-000)
}

.flex {
    display: flex;
    flex-direction: row;
}


button {
    width: fit-content;
    border: 1px solid black;
    border-radius: 9999px;
    padding: 14px;
    background-color: white;
    margin: auto;
}

button#download {
    display: flex;
    align-items: center;
    gap: var(--round, 8px);

    padding: 8px 24px;
    border-radius: 99px;
    border: 1px solid var(--color-vio-300);
    background: #FFF;
    color: #000;

    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
    letter-spacing: -0.4px;
}

button#download::before {
    content: url(./img/downloadIcon.svg);
    margin-right: 1em;
}

button#discord {
    margin-top: 72px;
    border-radius: 99px;
    border: none;
    background: #5865F2;
    padding: 14px 24px 10px 24px;

    color: var(--color-wb-000, #FFF);
    /* typo/typo-body-18-bold */
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.27px;
}

button#discord::before {
    content: url(./img/discordIcon.svg);
    display: inline-block;
    margin-right: 12px;
    object-fit: contain;
    object-position: center;
    vertical-align: middle;
}

img {
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}

img.logo {
    margin-right: 8px;
}

.block {
    display: block;
}


h1 {
    color: var(--color-wb-000, #FFF);
    font-family: SUIT;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -0.72px;
}

h3 {

    align-self: stretch;
    color: var(--color-vio-900, #280036);
    text-align: center;
    /* typo/typo-head-36-bold */
    font-family: SUIT;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -0.72px;

}

h3.small {
    color: var(--color-wb-600, #575458);
    /* typo/typo-body-14 */
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: -0.084px;
}

h4 {
    color: var(--color-vio-900, #280036);
    /* typo/typo-head-24-bold */
    font-family: SUIT;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: -0.456px;
}

.title {
    color: var(--color-vio-900, #280036);
    font-family: SUIT;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 74px;
    /* 154.167% */
    letter-spacing: -1.056px;

    text-align: center;
}

.intro {
    color: var(--color-vio-900, #280036);
    text-align: center;
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 28px */
    letter-spacing: -0.44px;
    margin-bottom: 58px;
}

.chat {
    display: flex;
    margin-bottom: 32px;
    padding: 12px 24px;
    border-radius: 14.38px;
    width: fit-content;
    position: relative;
    font-size: 44px;

    color: var(--color-vio-900, #280036);
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 57.519px;
    /* 287.595% */
    letter-spacing: -0.38px;
}

.chat.right {
    margin-left: auto;
    margin-right: 32px;
    justify-content: right;
    align-items: flex-start;
    background: var(--color-vio-500);
}

.chat.left {
    margin-left: 32px;
    justify-content: left;
    align-items: flex-end;
    background: var(--color-vio-000);
}

.chat.right::after {
    content: url(./img/rightTail.svg);
    position: absolute;
    width: 32px;
    height: 58px;
    right: -30px;
    bottom: 8px;
}

.chat.left::before {
    content: url(./img/leftTail.svg);
    position: absolute;
    width: 32px;
    height: 58px;
    left: -29px;
    bottom: 8px;
}


.section1>div.image {
    background: url(./img/mainImg.png) 50%/contain no-repeat;
    background-position: center;
    height: 600px;
    margin-top: 40px;
}

.section1>div.flex {
    margin: auto;
}

.section1>div.flex>* {
    margin: auto;
}

.section1>div.flex>:first-child {
    margin-right: 20px;
}

.section2 {
    position: relative;
}



.section2>div.wrap {
    display: flex;
    flex-direction: column;
    max-width: 1311px;
}

.section3>header {
    text-align: center;
}

.section3>div.wrap {
    display: flex;
}

.section3>div.wrap>* {
    margin: auto;
}

.section3>div.wrap img {
    flex-shrink: 0;
    flex-basis: 55%;
    margin-right: 90px;
}

.section3 p {

    margin: 32px 0;
}

.section3 p.bold {
    color: var(--color-vio-900, #280036);
    text-align: center;

    /* typo/typo-head-24 */
    font-family: SUIT;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: -0.456px;

    margin-top: 23px;
}

.section3>div.wrap>div.card>p.bold {
    color: var(--color-vio-700, #4A0A60);
    /* typo/typo-body-18-bold */
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.27px;

    text-align: left;
}

.section3 p.step {
    color: var(--color-wb-600, #575458);
    /* typo/typo-body-14 */
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: -0.084px;
    margin-bottom: 8px;
}

.section3 p.para {
    color: var(--color-vio-600, #5A1771);
    /* typo/typo-body-18 */
    font-family: SUIT;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.27px;

}



.section4 {
    text-align: center;
}

.section4 p {
    color: var(--color-vio-900, #280036);
    text-align: center;

    /* typo/typo-head-36 */
    font-family: SUIT;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -0.72px;
}

.section4 p.strong {
    color: var(--color-vio-900, #280036);
    text-align: center;

    /* typo/typo-head-48-bold */
    font-family: SUIT;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 133.333% */
    letter-spacing: -1.056px;
    margin: 23px 0;
}